Django==6.0.1
djangorestframework==3.16.1
django-filter==25.2
drf-yasg==1.21.14
djangorestframework-simplejwt==5.5.1

psycopg2-binary==2.9.11
redis==7.1.0

python-dotenv==1.2.1
pillow==12.1.0

pytest==9.0.2
pytest-mock==3.15.1